@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#home-page {
  background: url(./assets/images/bg.png) no-repeat center / cover;
}

#wallet-page {
  background: url(./assets/images/bg.png) no-repeat center / cover;
}

#buy-page {
  background: url(./assets/images/bg.png) no-repeat center / cover;
}

@media (max-width: 900px) {
  #wallet-page {
    padding: 0 !important;
    padding-top: 56px !important;
  }
}

body {
  background-color: #000;
}

th,
td {
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
